.main{
    display: grid;
    margin: 0;
}
.main > .background{
    display: grid;
    background-image: url("фоновый рисунок.jpg");
    grid-template-columns: 2fr 3fr 2fr;
}
.background > .item{
    display: grid;
    padding: 10px;
    margin: 5px;
    justify-content:center;
    align-content:center;
    height: 22vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.item > .size{
    justify-items: start;
    align-items: center;
    padding-left: 5px;
    display: grid;
    width: 90%;
    height: 90%;
    font-size: 28px;
    font-weight: bold;
}
#special{
    background: rgba(0, 0, 0, 0.3);
}
.main > .content {
    width: 70%;
    padding-top: 10px;
    margin: 0 auto;
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.content  .item {
    width: 350px;
    height: 150px;
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.item img {
    display: block;
    background-color: chocolate;
    margin: 0 auto;
    width: 47%;
}

.item .grid-text{
    display: block;
    height: 100%;
    background-color: gold;
}
.grid-text p{
    margin: 0;
}
.grid-text h2{
    background-color: chartreuse;
    display: block;
    margin: 0;
    text-align: center;
}


.main > .foot {
    background-color: blue;
    border-top: 2px solid #000000;
display: grid;
    width: 100%;
    padding-bottom: 0.7%;
    padding-left: 1%;
    vertical-align: middle;
    text-align: center;
}

.personal-info, .contact-info {
    display: inline-block;
    box-sizing: border-box;
margin: 0}

.personal-info {
    margin: 0;
    float: left;
}

.contact-info {
    margin-right: 2%;
    float: right;
}

@media (max-width: 768px) {
    .background .item {
        grid-template-columns: 1fr 1fr;
    }

    .background {
        display: none;
    }
.content .item{
    width: 90%;
    height: 80%;
}
    .item img {
        width: 40%;
    }

    .main > .content {

        width: 100%;
        grid-gap:5px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .foot{

    }
    .personal-info{
        text-align: left;
    }
    .contact-info{
        text-align: right;
    }
}

