doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Сайт про подводные лодки
        link(rel='stylesheet', type='text/css', href='main.css')
    body.main
        .background
            div
            .item
                #special.size Данные
                .size Табличные
                .size Главная
                div
                div
                div
                div
                .size Добро пожаловать
                div
            div
        .content
            .item
                div
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/HMS_Tireless_S-88.jpg/274px-HMS_Tireless_S-88.jpg')
                .grid-text
                    h2
                        | «Трафальгар»
                    p
                        | Подводные лодки типа «Трафальгар» (англ. Trafalgar class) — серия британских атомных многоцелевых
                        | ракетно-торпедных подводных лодок. Явились дальнейшим развитием подводных лодок типа «Суифтшюр».
            .item
                div
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/HMS_Tireless_S-88.jpg/274px-HMS_Tireless_S-88.jpg')
                .grid-text
                    h2
                        | «Трафальгар»
                    p
                        | Подводные лодки типа «Трафальгар» (англ. Trafalgar class) — серия британских атомных многоцелевых
                        | ракетно-торпедных подводных лодок. Явились дальнейшим развитием подводных лодок типа «Суифтшюр».
            .item
                div
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/HMS_Tireless_S-88.jpg/274px-HMS_Tireless_S-88.jpg')
                .grid-text
                    h2
                        | «Трафальгар»
                    p
                        | Подводные лодки типа «Трафальгар» (англ. Trafalgar class) — серия британских атомных многоцелевых
                        | ракетно-торпедных подводных лодок. Явились дальнейшим развитием подводных лодок типа «Суифтшюр».
            .item
                div
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/HMS_Tireless_S-88.jpg/274px-HMS_Tireless_S-88.jpg')
                .grid-text
                    h2
                        | «Трафальгар»
                    p
                        | Подводные лодки типа «Трафальгар» (англ. Trafalgar class) — серия британских атомных многоцелевых
                        | ракетно-торпедных подводных лодок. Явились дальнейшим развитием подводных лодок типа «Суифтшюр».
            .item
                div
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/HMS_Tireless_S-88.jpg/274px-HMS_Tireless_S-88.jpg')
                .grid-text
                    h2
                        | «Трафальгар»
                    p
                        | Подводные лодки типа «Трафальгар» (англ. Trafalgar class) — серия британских атомных многоцелевых
                        | ракетно-торпедных подводных лодок. Явились дальнейшим развитием подводных лодок типа «Суифтшюр».
            .item
                div
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/HMS_Tireless_S-88.jpg/274px-HMS_Tireless_S-88.jpg')
                .grid-text
                    h2
                        | «Трафальгар»
                    p
                        | Подводные лодки типа «Трафальгар» (англ. Trafalgar class) — серия британских атомных многоцелевых
                        | ракетно-торпедных подводных лодок. Явились дальнейшим развитием подводных лодок типа «Суифтшюр».
            .item
                div
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/HMS_Tireless_S-88.jpg/274px-HMS_Tireless_S-88.jpg')
                .grid-text
                    h2
                        | «Трафальгар»
                    p
                        | Подводные лодки типа «Трафальгар» (англ. Trafalgar class) — серия британских атомных многоцелевых
                        | ракетно-торпедных подводных лодок. Явились дальнейшим развитием подводных лодок типа «Суифтшюр».
            .item
                div
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/HMS_Tireless_S-88.jpg/274px-HMS_Tireless_S-88.jpg')
                .grid-text
                    h2
                        | «Трафальгар»
                    p
                        | Подводные лодки типа «Трафальгар» (англ. Trafalgar class) — серия британских атомных многоцелевых
                        | ракетно-торпедных подводных лодок. Явились дальнейшим развитием подводных лодок типа «Суифтшюр».
            .item
                div
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/HMS_Tireless_S-88.jpg/274px-HMS_Tireless_S-88.jpg')
                .grid-text
                    h2
                        | «Трафальгар»
                    p
                        | Подводные лодки типа «Трафальгар» (англ. Trafalgar class) — серия британских атомных многоцелевых
                        | ракетно-торпедных подводных лодок. Явились дальнейшим развитием подводных лодок типа «Суифтшюр».
.foot
    .personal-info
        p © Фамилия И.О., группа, 2023-2024
    .contact-info
        p ✉ Контакты<